body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

/* Header */
header {
    background-color: #444;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Logo */
.logo {
    font-size: 1.5em;
    font-weight: bold;
}

/* Logo como enlace */
.logo a {
    color: #fff;
    text-decoration: none;
}

/* Hover para el logo */
.logo a:hover {
    color: #ddd;
    box-shadow: 0 0 5px #444, 0 0 10px white, 0 0 15px #ccc, 0 0 20px #ddd;
}

/* Navegación */
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

/* Elementos del menú */
nav ul li {
    margin: 0 15px;
}

/* Enlaces del menú */
nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1em;
}

/* Hover en enlaces */
nav ul li a:hover {
    color: #ddd;
    box-shadow: 0 0 5px #444, 0 0 10px white, 0 0 15px #ccc, 0 0 20px #ddd;
}

.container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.section {
    flex: 1;
    margin: 10px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 1.5em;
    color: #444;
}

form {
    display: flex;
    flex-direction: column;
}

input[type="text"],
input[type="password"],
input[type="submit"] {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    background-color: #444;
    color: #fff;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #555;
    box-shadow: 0 0 5px #444, 0 0 10px white, 0 0 15px #ccc, 0 0 20px #ddd;
}

.select-container::after {
    content: "▼"; 
    position: absolute;
    right: 15px;
    pointer-events: none;
    color: #ddd;
}
.select-container {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-evenly;
    /* Distribuye los elementos de forma equilibrada */
    width: 100%;
}

.select-custom {
    background-color: #444;
    color: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 8px 12px;
    transition: all 0.3s ease-in-out;
    flex: 1;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-align: center;
    /* Centra el texto */
    min-width: 120px;
    /* Asegura que los selects tengan un tamaño mínimo */
}

.select-custom:focus {
    outline: none;
    border-color: #ddd;
    box-shadow: 0 0 5px #444, 0 0 10px white, 0 0 15px #ccc, 0 0 20px #ddd;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

table,
th,
td {
    border: 1px solid black;
}

th,
td {
    padding: 10px;
    text-align: left;
}