body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header{
    background-color: #444;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo{
    font-size: 1.5em;
    font-weight: bold;
}

/*Register box*/

main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.register-box{
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

.register-box form {
    display: flex;
    flex-direction: column;
}

.register-box label {
    text-align: left;
    font-size: 0.9em;
    margin-bottom: 5px;
    color: #555;
}

.register-box input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
}

.register-box button {
    background-color: #444;
    color: #fff;
    padding: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
}

.register-box button:hover {
    background-color: #555;
}

/*Footer*/

footer {
    background-color: #444;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    font-size: 0.9em;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer a {
    color: #fff;
    text-decoration: underline;
}

footer a:hover {
    color: #bbb;
}