.container-catalogo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 70px;
    padding: 20px;
    height: 100%;
    width: 100%;
    background-color: #f0f0f0;
    border-radius: 15px;
}

.card-container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.card {
    background-color: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;

}

.navegationContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    gap: 10px;
    width: 100%;
    height: 100%;
}

.navegationContainer form {
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    gap: 5px;
}

.navegation {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.navegation:disabled {
    background-color: #9E9E9E;
    cursor: not-allowed;
}

.navegation:hover:not(:disabled) {
    background-color: hwb(168 16% 42%);
}

#export-btn {
    background-color: #3db29a;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.searchInput {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    outline: none;
    width: 300px;
}

.searchSubmit {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4c6daf;
    color: white;
    border: 1px solid #233b6b;
    border-radius: 5px 5px 5px 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.searchSubmit:hover {
    background-color: #45a049;
}

.filtro-select {
    font-size: 12px;
    padding: 5px 10px;
    background-color: #07878b;
    color: #fff;
    cursor: pointer;
    margin-bottom: 10px;
    border: 1px solid #233b6b;
    border-radius: 4px;
    align-self: center;
}

.filtro-select:hover {
    box-shadow: 0 0 5px #444, 0 0 10px white, 0 0 15px #ccc, 0 0 20px #ddd;
}