body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

/* Header */
header {
    background-color: #444;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Logo */
.logo {
    font-size: 1.5em;
    font-weight: bold;
}

/* Logo como enlace */
.logo a {
    color: #fff;
    text-decoration: none;
}

/* Hover para el logo */
.logo a:hover {
    color: #ddd;
}



/* Main Content */
main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

/* Welcome Box */
.welcome-box {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
}

.welcome-box h1 {
    font-size: 1.8em;
    margin-bottom: 10px;
}

.welcome-box p {
    font-size: 1em;
    color: #555;
    margin-bottom: 15px;
}

.welcome-box button {
    background-color: #444;
    color: #fff;
    padding: 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

.welcome-box button:hover {
    background-color: #555;
}

/* Footer */
footer {
    background-color: #444;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    font-size: 0.9em;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer a {
    color: #fff;
    text-decoration: underline;
}

footer a:hover {
    color: #bbb;
}